.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(37, 37, 37, 0.5), rgba(68, 68, 68, 0.5)),
   url(src/assets/agadir.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0 !important;
}
h1{
  font-size:50px;
  font-weight: bold;
}
h4{
  font-size: 25px;
  font-weight: 700;
}
.hero-text {
  text-align: center;
  max-width: 1000px;
  margin-top: 300px;
  text-shadow: 4px 4px 4px rgb(69, 69, 69);;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  top:0;

}
