.car-page-container {
  margin-top: 200px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.heart-button.clicked {
  color: rgb(255, 63, 98);
}

.car-sections-container {
  display: flex;
  justify-content: center;
  width: 100%; 
}

.car-left-section {
  margin-right:40px ;
  margin-left: 30px;
}

.car-right-section {
  margin-right: 50px;
  width: 1000px;
}

.car-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.car-page-card{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
max-width: 350px;
border: none;
box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.car-research-body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .car-research-body-button{
    background-color: #3387d6;
    }
    .car-research-body-button:hover{
      background-color: #0760b3;
      }
  .input-with-icon-car{
    margin-bottom: 50px;
    margin-top: 20px;
    border-bottom: 2px solid #e7e7e7;
    width: 300px;    

  }
  .input-with-icon-car input
  { width: 250px;
    
    border:none;
    

  }
  .input-with-icon-car input:focus {
    border-color: transparent; 
    outline: none; 
  }
.sort-cars {
  display: flex;
  align-items: center;
}
.car-icon{
  width: 25px;
  height: 25px;
  color: #3387d6;
  
}
.car-sort-dropdown {
  display: inline-block; 
  margin-left: 10px;
  border: none;
}

.dropdown-toggle {
  text-align: left; 
}
.heart-button.clicked {
  animation: beat 0.65s 2 alternate;
}

@keyframes beat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.car-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #3b3b3b;
}

.car-card:hover {
  transform: translateY(-3px);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
}

.car-card {
  width: 300px;
  
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.car-card-image {
  width:100%;
  height: 190px;
  object-fit: cover;
  border-radius: 0px;
}
.heart-button {
  position: absolute;
  background-color: transparent;
  width: 20px;
  z-index: 1; /* Ensure the heart button stays above other elements */

}

.heart-button:hover{
  background-color: transparent;
}
.heart-icon{
  height: 25px;
  width: 25px;
}
.car-card-details {
  padding: 20px;
}

.car-card-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.car-card-text {
  margin: 5px 0;
  font-size: 16px;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  flex: 0 0 40%; 
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.feature > svg {
  margin-right: 5px; 
  height: 40px;
  width: 20px;
  color: #444;
}

.car-price > svg {
  margin-right: 5px; 
  height: 40px;
  width: 20px;
  color: #006eff;
}
label{
  color: #6a6a6a;
  text-align: left;

}