.car-details-container{
    margin-top: 200px;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    font-size: 20px;
    color:rgb(49, 49, 49);
    
}
.car-details-subcontainer {
    display: flex;
    justify-content: center;
    width: 100%; 
  }
  .details-left-section {
    margin-right:40px ;
    margin-left: 30px;
    width: auto;
  }
  
  .details-right-section {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
   

  }
  .header {
    display: flex;
    justify-content: center;
   
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .car-features{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;

  }
  .details-feature{
    margin-right: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
.details-icon{
    display: flex;
    align-items: center;
   
}
.details-icon > svg{
    height: 40px;
    width: 40px;
    color: #3387d6;
   
}
.features-text{
font-size: 20px;
}
.car-carousel-image {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
  }
  

.car-carousel{
    width: 780px;
    height: 500px;
}
.additional-features{
    margin-top:40px;
    color:rgb(50, 50, 50);
    margin-bottom: 40px;
}
.additional-features ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.additional-features li {
    display: inline-block;
    width: 33.33%; 
    box-sizing: border-box;
    padding: 10px;
}

.additional-icon {
    vertical-align: middle; 
    color:#3387d6;
  }
.car-description
{
    margin-top:40px ;
    margin-bottom:40px;
    max-width: 800px;
}
.additional-icon{
    height: 20px;
    width: 20px;
}
.FAQs{
  margin-top: 40px;
  margin-bottom: 40px;
}
.FAQs-accordion{
  margin-top: 20px;
}
.reservation{
  border-radius: 6px;
  width: 350px;
  border:none;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.price-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;

}
.price{
  margin-left: 30px;
}
.date-picker{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pick-text{
text-align: center;
}
.list-tarifs {
  font-family: Arial, sans-serif;
  font-size: 25px;
  margin-left: 30px;
}

.list-tarifs ul {
  list-style-type: none;
  padding: 0;
}

.list-tarifs li {
  margin-bottom: 10px;
}

.list-tarifs input[type="checkbox"] {
  display: none; 
 
}
.list-tarifs label {
  margin-left: 20px;
 
}

.list-tarifs input[type="checkbox"] + label {
  position: relative;
  padding-left: 40px; /* Add padding to create space between label and checkbox */
  cursor: pointer;
  font-size: 18px;
}

.list-tarifs input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 25px;
  height: 25px;
  border: 2px solid #aaaaaa; 
  border-radius: 3px;
}

.list-tarifs input[type="checkbox"]:checked + label::after {
  content: '✔'; 
  position: absolute;
  left: 3px;
  top: -5px;
  font-weight: 900;
  font-size: 25px;
  color: #007bff; /* Checkmark color */
}

/* Hover effect */
.list-tarifs input[type="checkbox"] + label:hover::before {
  border-color: #0056b3; /* Hover state border color */
}

/* Focus effect */
.list-tarifs input[type="checkbox"]:focus + label::before {
  outline: none;
  border-color: #0056b3; /* Focus state border color */
}
