.card-container-class {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  .card-class {
    width: 25rem;
    margin: 10px;
    border: none;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Use cubic bezier for smoother transition */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);


  }
  .card-class:hover {
    transform: translateY(-3px);
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-class {
    height: 300px;
    object-fit: cover;
  }
  .card-body-class{
    display: flex;
    flex-direction: column;
  }
 .card-link-class{
    font-size: 24px;
    font-weight:545;
    color:rgb(72, 72, 72);

 }