.invoice-success-container {
    margin-top: 170px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .reservation-success-container {
    display: flex;
    align-items: center; /* Align items vertically */
    border: 0.3px solid rgb(190, 190, 190);
    width: 700px;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 50px;
  }
  
  .reservation-success-container > svg {
    color: green;
    height: 100px;
    margin-right: 20px; /* Add margin between icon and text */
  }
  
  .car-invoice-container {
    min-height: 100vh;
    width: 100%;
  }
  
  .invoice-embed {
    min-height: 100vh;
    width: 100%;
  }
  