.passwordContainer {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
  }
  .error{
    color: red;
  }
  .success{
    color: rgb(0, 176, 0);
  }
  .passwordHeader {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  .inputContainer {
    margin-bottom: 20px;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .password-label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
  }
  
  .inputWithIcon {
    position: relative;
  }
  
  .inputIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #999;
  }
  
  .password-inputs {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
  .password-input{
    width: 300px;
    padding: 10px;
    border-radius: 6px;
    border-color: #ccc;
  }
  .password-input:focus {
    outline: none;
    border-color: #66afe9;
  }
  
  .submitButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  