.buttons-div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .password-recovery-modal .password-recovery-form {
    margin-bottom: 20px; /* Add space below the form fields */
  }
  
  .password-recovery-modal .message {
    margin-top: 10px; /* Add space above the message */
    color: red; /* Optionally, style the message text */
  }
  .recovery-form{
    margin-bottom: 20px;
  }