.reset-container {
    margin-top: 190px !important;
    min-height:100vh;
}

.reset-container h1 {
    font-size: 28px;
    margin-bottom: 30px;
}

.reset-container form {
    max-width: 400px;
    margin: auto;
}

.reset-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.reset-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.reset-container button[type="submit"]:hover {
    background-color: #0056b3;
}

.reset-container p {
    margin-top: 20px;
    font-size: 16px;
    color: #dc3545;
}
