/* styles.css */

/* Form container */
.form-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

/* Form title */
.form-title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Form fields */
.form-field {
  margin-bottom: 20px;
  
}
.form-check {
  margin-bottom: 20px;
  display: flex;
}
.form-check label {
  margin-right: 20px;
}
.form-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-field input,
.form-field textarea,
.form-field select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.form-field input[type="checkbox"] {
  width: auto;
  display: inline-block; 
  margin-right: 5px; 
}


.form-submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #0056b3;
}


.error-message {
  color: #ff0000;
  margin-top: 5px;
}


