
.middle-navbar {
  width: 100%;
  background-color: transparent;
  color: #fff;
  padding: 10px 0;
  position: absolute; 
  margin-top: 60px;
  justify-content: space-between;
  z-index: 200;
  display: flex;
  justify-content: flex-end;
  top:0;

}
.dark-middle-nav{
  border-bottom: 0.05px solid rgb(214, 214, 214); 

}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 150px;
  list-style-type: none;
  margin-top: 20px;
}
.right li {
  margin-left: 40px;
}

.middle-navbar .right span {
  margin-right: 20px;
}

.right li a {
  text-decoration: none; 
  color: #ffffff; 
  font-weight: bold;
  font-size: 20px; 
}
.dark-middle-nav li a{
  color: #404040; 
}




