
.middle-navbar {
  width: 100%;
  background-color: transparent;
  color: #fff;
  padding: 20px 0;
  position: absolute; 
  margin-top: 60px;
  justify-content: space-between;
  z-index: 200;
  display: flex;
  justify-content: flex-end;

}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 150px;
  list-style-type: none;
}
.right li {
  margin-left: 15px;
}

.middle-navbar .right span {
  margin-right: 20px;
}

.right li a {
  text-decoration: none; 
  color: #ffffff; 
  font-weight: bold;
  font-size: 20px; 
}






