
.top-navbar {
  width: 100%;
  background-color: transparent;
  color: #fff;
  padding: 10px 0;
  position: absolute; 
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 300;
  border-bottom: 0.05px solid rgb(208, 208, 208); 
}

.dark-nav {
  color: rgb(52, 52, 52) !important; 
  border-bottom: 0.05px solid rgb(214, 214, 214); 
}
.dark-nav a::before
{
  border:1px ;
  background-color: black;

}
.dark-nav.right-section .divider {

  background-color: rgb(59, 59, 59)!important;
  margin-left: 10px;
  
}
.dark-nav .right-section .dropdown .toggle
{
  color:rgb(52, 52, 52);
}
.dark-nav .right-section .dropdown .toggle:active
{
  color:rgb(20, 20, 20);
}
.dark-nav .right-section .dropdown .toggle:hover
{
  color:#6c6c6c;
}

.dark-nav  a:hover {
  color: #575757;
}

.dark-nav .right-section .user-dropdown .user-toggle
{
  color:rgb(52, 52, 52);
}
.dark-nav .right-section .user-dropdown .user-toggle:active
{
  color:rgb(20, 20, 20);
}
.dark-nav .right-section .user-dropdown .user-toggle:hover
{
  color:#6c6c6c;
}

.top-navbar .left-section {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 20px;
}

.top-navbar .left-section li {
  margin-right: 10px;
}

.top-navbar .left-section .icon,.top-navbar .right-section .icon {
  font-size: 15px; 
}

.top-navbar .right-section {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.top-navbar .right-section span {
  margin-right: 20px;
}

.divider {
  width: 1px;
  height: 20px; 
  background-color: #ffffff; 
  margin: 0 10px; 
  
}
.top-navbar .right-section span,
.top-navbar .right-section a {
  font-size: 14px; 
}
.dropdown .toggle{
  border:none;
}

.dropdown .toggle,
.dropdown .toggle:focus,
.dropdown .toggle:active {
  color: #fff;
}

.dropdown .toggle:hover {
  color: #919191;
}

.flag{
  width: 20px;
  height: 20px; 
  margin-right: 10px;
}

.transparent-dropdown {
  background-color: transparent !important;
  border: none; 
}

.user-dropdown .user-toggle{
  border:none;
}

.user-dropdown .user-toggle,
.user-dropdown .user-toggle:focus,
.user-dropdown .user-toggle:active {
  color: #fff;
}

.user-dropdown .user-toggle:hover {
  color: #919191;
}
.user-item{
  height: 30px;
}
.user-icon{
  height: 17px;
  width: 17px;
  margin-right: 7px;
}
.logout-icon{
  transform: scaleX(-1);
  
}
.user-menu.show{
  width: 250px;
}
.language-dropdown{
  width: 100px;
}
.language-menu.show{
  width: 100px;
}