
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Lato";
    
}
body{
    background:#ffffff
}
a{
text-decoration: none;
color:inherit;
cursor: pointer;
line-height: 1;

}